/* 共通ここから */

.row {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    /* box-sizing: border-box;
    background-image: url("./images/background-lg.png");
    background-attachment: fixed; */
    color: #000 !important;
}

header {
    /* border-bottom: 1px solid #fff; */
    background-color: #000;
}

nav {
    width: 70%;
    margin: 0 auto;
}

.edit__h1 {
    text-align: center;
    margin-top: 10px;
}

.inner {
    text-align: left;
    width: 60%;
    margin: 0 auto 40px auto;
}

.wrapper__h2 {
    color: #000;
    /* margin-bottom: 30px; */
    padding: 40px 0 10px 0;
    display: inline-block;
    /* border-bottom: 2px solid #fff; */
    font-size: 1.5rem;
}

.h2-submit {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.no-margin {
    margin: 0;
}

.inline-outside__center {
    position: relative;
    width: 50%;
    height: 40px;
    margin: 40px auto;
}

.label__delete {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: red;
    padding: 5px 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: 0 2px rgb(0 0 0 / 40%);
}

.label__delete:active {
    position: absolute;
    top: 2px;
    /* left: auto; */
    box-shadow: none;
}


/* 共通ここまで */


/* headerここから */

.nav-pc {
    width: 100%;
}

.header__company-name {
    display: inline-block;
    width: 80%;
    padding: 10px 0;
    font-size: 1.5em;
    color: #fff;
}

.header__company-name:hover {
    text-decoration: none;
    color: #fff;
}

.header__menu {
    width: 60%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    display: inline-block;
    font-size: .7em;
    transition-property: letter-spacing, width;
    /* transition-timing-function: 1s; */
    transition-duration: .4s;
}

.header__menu:hover {
    width: 100%;
    text-decoration: none;
    color: #fff;
    letter-spacing: 4px;
}

.header__contents {
    display: inline-block;
}

.header__contents-2 {
    text-align: center;
}

.navbar-light .navbar-toggler {
    /* color: rgba(0,0,0,.5); */
    /* border-color: rgba(0,0,0,.1); */
    color: #fff;
    background-color: #fff;
}

.bg-light {
    background-color: #000 !important;
}

.navbar {
    width: 100%;
    color: #fff !important;
    background-color: #000 !important;
}

.nav__logo-name_bold,
.nav__logo-name_nomal {
    color: #fff;
}

.nav-link {
    color: #fff !important;
}

.nav-mobile {
    display: none !important;
}

.navbar {
    padding: 0 !important;
    display: block !important;
}

.toggle,
.menu-list {
    padding: 0 1rem;
    display: none !important;
}

.toggle {
    padding-top: .5rem;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-collapse {
    padding-bottom: .5rem;
}


/* headerここまで */


/* index.phpここから */


/* mainここから */

.menu-button-area {
    display: flex;
    margin: 40px auto 0 auto;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-button {
    display: inline-block;
    width: 20%;
    border: 1px solid #000;
    border-radius: 3px 3px;
    background-color: #ddd;
    padding: 40px 0;
    text-align: center;
    color: #000;
    font-size: .9em;
    font-weight: bold;
    transition-property: background-color, text-shadow;
    transition-duration: .5s;
}

.menu-button:hover {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    text-shadow: 0 4px 10px rgba(0, 0, 0, .8);
}


/* mainここまで */


/* index.phpここまで */


/* edit-top.phpここから */

.main__top-page {
    padding-bottom: 60px;
}


/* wrapper-1ここから */

.text,
.textarea {
    width: 100%;
    margin-top: 4px;
}


/* wrapper-1ここまで */


/* wrapper-2ここから */

.info-area-1-1 {
    display: flex;
    justify-content: space-between;
}

.info-area-2 {
    margin-top: 16px;
    border: 1px solid #000;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}

.info-inner {
    width: 90%;
    margin: 0 auto;
}

.now-info {
    border-bottom: 1px solid #000;
    margin-top: 10px;
}

.sentence-button {
    display: flex;
    justify-content: space-between;
}

.sentence {
    display: flex;
    align-items: flex-end;
}


/* wrapper-2ここまで */


/* wrapper-3ここから */

.textarea__message {
    width: 100%;
}


/* wrapper-3ここまで */


/* wrapper-4ここから */

.accsess__item {
    margin-bottom: 10px;
}

.text__access {
    margin-top: 0 !important;
}


/* wrapper-4ここまで */


/* save-areaここから */

.save-area {
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
}

.save-message {
    display: inline-block;
    width: 30%;
    color: #fff;
    text-align: right;
    font-size: 1.1rem;
}

.submit__save {
    width: 30%;
    margin: 10px 0;
    padding: 10px 40px;
    font-size: 1.5rem;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 2px 5px rgb(255 255 255 / 80%);
}


/* save-areaここまで */


/* edit-top.phpここまで */


/* edit-status.phpここから */


/* wrapper-1ここから */

.submit-change-area {
    text-align: center;
    margin-top: 40px;
}

#change {
    padding: 10px 20px;
}


/* wrapper-1ここまで */


/* wrapper-2ここから */

.table {
    margin-bottom: 10px;
}

.status-icon {
    width: 30%;
}

.table {
    text-align: center;
}


/* wrapper-2ここまで */


/* edit-status.phpここまで */


/* record-cat.phpここから */


/* wrapper-1ここから */

.inner__record-cat {
    width: 30% !important;
}

.item {
    margin-top: 20px;
}

.item-name {
    display: inline-block;
    width: 100%;
}

.input-area {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 30px;
}

.input__record-cat {
    width: 100%;
}

.text__record-cat {
    width: 100%;
}

.select__gender {
    width: 50%;
}

.age {
    text-align: right;
    max-width: 160px;
}

.add {
    display: inline-block;
    width: 15%;
    border: 1px solid #000;
    text-align: center;
    padding: 2px;
}

.button__file {
    background-color: #ddd;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 3px;
    transition-property: box-shadow;
    transition-duration: .2s;
}

.button__file:hover {
    box-shadow: 0 2px rgba(0, 0, 0, .4);
}

.button__file:active {
    position: absolute;
    top: 2px;
    box-shadow: none;
}


/* wrapper-1ここまで */


/*  */

.js-preaviewImage {
    width: 90%;
}

.js-trimmedImg {
    width: 40%;
    margin-top: 40px;
}


/*  */


/* record-cat.phpここまで */


/* edit-cat-select.phpここから */

.images-area {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.images-area:before,
.images-area:after {
    content: "";
    width: 21%;
}

.images-area:before {
    order: 1;
}

.image-area {
    position: relative;
    width: 21%;
    margin-top: 40px;
    display: inline-block;
    transition-property: box-shadow;
    transition-duration: .3s;
}

.image-area:hover {
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, .2);
}

.image {
    width: 100%;
}

.intro {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(200, 200, 200, .8);
    color: #000;
}


/* edit-cat-select.phpここまで */


/* iPad以下 */

@media screen and (max-width: 768px) {
    /* 共通ここから */
    html {
        font-size: 12px;
    }
    .inner {
        width: 90%;
    }
    .wrapper__h2 {
        font-size: 1.5rem;
        padding: 20px 0 5px 0;
    }
    /* 共通ここまで */
    /* headerここから */
    .nav-pc {
        display: none;
        width: 100%;
    }
    .nav-mobile {
        display: block;
    }
    .toggle {
        display: flex !important;
        padding: 10px;
    }
    .menu-list {
        display: block !important;
    }
    /* headerここまで */
    .menu-button {
        width: 40%;
        font-size: .6em;
        margin-bottom: 40px;
    }
    /* record-cat.phpここから */
    /* wrapper-1ここから */
    .inner__record-cat {
        width: 60% !important;
    }
    /* record-cat.phpここまで */
}

@media screen and (max-width: 376px) {
    html {
        font-size: 8px;
    }
    .inner {
        width: 95%;
    }
}